# MACHINE LEARNING

import librarys:

In [1]:
import math
import pandas as pd
import sklearn
import numpy as np
from sklearn import linear_model, metrics, preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.metrics import make_scorer
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet


import warnings
warnings.filterwarnings("ignore")

import our data with func corr() for checking conection

In [2]:
df = pd.read_csv("All London 2012 athletes numeric only.csv")
df.corr()

,Age,"Height, cm",Weight,Place of birth,Gold,Silver,Bronze,Total,Sport,Sex_F,Sex_M
Age,1.000000,0.039305,0.103310,-0.014724,-0.020383,-0.006974,-0.012178,-0.020397,0.116798,-0.099207,0.099207
"Height, cm",0.039305,1.000000,0.724469,-0.006657,0.020318,0.018645,0.007083,0.023525,0.073013,-0.560025,0.560025
Weight,0.103310,0.724469,1.000000,0.014911,0.009169,0.011552,0.014531,0.018063,0.040435,-0.515578,0.515578
Place of birth,-0.014724,-0.006657,0.014911,1.000000,0.013725,-0.007011,0.011744,0.009749,-0.050803,0.026806,-0.026806
Gold,-0.020383,0.020318,0.009169,0.013725,1.000000,0.243495,0.079595,0.682709,0.011434,0.001865,-0.001865
Silver,-0.006974,0.018645,0.011552,-0.007011,0.243495,1.000000,0.083384,0.667589,0.007274,0.008527,-0.008527
Bronze,-0.012178,0.007083,0.014531,0.011744,0.079595,0.083384,1.000000,0.602124,0.002490,0.008440,-0.008440
Total,-0.020397,0.023525,0.018063,0.009749,0.682709,0.667589,0.602124,1.000000,0.010861,0.009596,-0.009596
Sport,0.116798,0.073013,0.040435,-0.050803,0.011434,0.007274,0.002490,0.010861,1.000000,-0.015648,0.015648
Sex_F,-0.099207,-0.560025,-0.515578,0.026806,0.001865,0.008527,0.008440,0.009596,-0.015648,1.000000,-1.000000
Sex_M,0.099207,0.560025,0.515578,-0.026806,-0.001865,-0.008527,-0.008440,-0.009596,0.015648,-1.000000,1.000000

In [3]:
x = df[df.columns[df.columns != 'Total']]
y = df['Total']

In [4]:
x.head()

,Age,"Height, cm",Weight,Place of birth,Gold,Silver,Bronze,Sport,Sex_F,Sex_M
0,23,170.0,60.0,37,0,0,0,1,0,1
1,33,193.0,125.0,186,0,0,0,2,0,1
2,30,187.0,76.0,62,0,0,0,2,0,1
3,26,178.0,85.0,151,0,0,0,2,1,0
4,27,190.0,80.0,89,0,0,0,2,0,1

In [5]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Total, dtype: int64

In [6]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42) 
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
print("Mean: ", X_train_scaled.mean(axis=0))
print("Standard Deviation: ", X_train_scaled.std(axis=0))

Mean:  [ 1.91047197e-16 -2.94212684e-16 -2.58295811e-16  1.22270206e-16
  3.05675515e-18  5.34932152e-18 -3.66810619e-17  5.34932152e-18
  4.54692329e-17 -4.54692329e-17]
Standard Deviation:  [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

im using linear regression as the type of machine learning, i checked the result- 1.0 - too good.

In [7]:
regrs = LinearRegression() 
regrs.fit(X_train, y_train)
acc = regrs.score(X_test, y_test)

print(acc)

1.0

i tried to drop columns and check the result again

In [8]:
X = df.drop(['Gold', 'Silver', 'Bronze', 'Total','Sex_F'], axis=1)
y = df['Total']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) 

regrs = LinearRegression() 
regrs.fit(X_train, y_train)
acc = regrs.score(X_test, y_test)

print(acc)

0.0009101337855256242

the result still not good for us, so i made a new column that calculate the BMI index:

In [ ]:
df["BMI"] = df["Weight"] /df["Height, cm"] * 100
df.corr()

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) 

regrs = LinearRegression() 
regrs.fit(X_train, y_train)
acc = regrs.score(X_test, y_test)

print(acc)

0.0009101337855256242

checking the error:

In [11]:
y_pred = regrs.predict(X_test)
print('MSE:',mean_squared_error(y_test, y_pred))
print('R^2:',r2_score(y_test, y_pred))

MSE: 0.08573489603249931
R^2: 0.0009101337855256242

In [12]:
print(y_pred)

[0.05823727 0.03332355 0.04009159 ... 0.04718356 0.03265798 0.03995343]

In [13]:
print(y_test)

239     0
132     0
3246    1
4498    0
3862    0
       ..
479     0
2596    0
798     0
4077    0
2812    0
Name: Total, Length: 1163, dtype: int64

and try it again, now with another target column (that can be the same for our question)

In [14]:
X = df.drop(['Place of birth','Gold','Total','Sex_F', 'Sex_M','Sport'], axis=1)
y = df['Gold']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) 

regrs = LinearRegression() 
regrs.fit(X_train, y_train)
acc = regrs.score(X_test, y_test)

print(acc)

0.10827904446059733

checking if any other method get a better result- like you can see- no

In [16]:
linreg = LinearRegression().fit(X_train, y_train)
lasso = Lasso().fit(X_train, y_train)
elasticnet = ElasticNet().fit(X_train, y_train)
ridge = Ridge().fit(X_train,y_train)

In [17]:
print("Linear Regression:\n")
y_pred1 = linreg.predict(X_test)
print("R2 Score: ", r2_score(y_test, y_pred1))
print("MSE Score: ", mean_squared_error(y_test, y_pred1))
print("\nLasso:\n")
y_pred2 = lasso.predict(X_test)
print("R2 Score: ", r2_score(y_test, y_pred2))
print("MSE Score: ", mean_squared_error(y_test, y_pred2))
print("\nElastic Net:\n")
y_pred3 = elasticnet.predict(X_test)
print("R2 Score: ", r2_score(y_test, y_pred3))
print("MSE Score: ", mean_squared_error(y_test, y_pred3))
print("\nRidge:\n")
y_pred4 = ridge.predict(X_test)
print("R2 Score: ", r2_score(y_test, y_pred4))
print("MSE Score: ", mean_squared_error(y_test, y_pred4))

Linear Regression:

R2 Score:  0.10827904446059733
MSE Score:  0.01893055032117283

Lasso:

R2 Score:  -3.402187487688835e-05
MSE Score:  0.021229953447192133

Elastic Net:

R2 Score:  -3.402187487688835e-05
MSE Score:  0.021229953447192133

Ridge:

R2 Score:  0.10746290072240516
MSE Score:  0.01894787642527432