# MACHINE LEARNING

import libraries:

In [1]:
import math
import pandas as pd
import sklearn
import numpy as np
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
%matplotlib inline

import our data with func corr() for checking conection

In [2]:
df = pd.read_csv("All London 2012 athletes numeric only.csv")
df.head()

,Age,"Height, cm",Weight,Place of birth,Gold,Silver,Bronze,Total,Sport,Sex_F,Sex_M
0,23,170.0,60.0,37,0,0,0,0,1,0,1
1,33,193.0,125.0,186,0,0,0,0,2,0,1
2,30,187.0,76.0,62,0,0,0,0,2,0,1
3,26,178.0,85.0,151,0,0,0,0,2,1,0
4,27,190.0,80.0,89,0,0,0,0,2,0,1

In [3]:
df.corr()

,Age,"Height, cm",Weight,Place of birth,Gold,Silver,Bronze,Total,Sport,Sex_F,Sex_M
Age,1.000000,0.039305,0.103310,-0.014724,-0.020383,-0.006974,-0.012178,-0.020397,0.116798,-0.099207,0.099207
"Height, cm",0.039305,1.000000,0.724469,-0.006657,0.020318,0.018645,0.007083,0.023525,0.073013,-0.560025,0.560025
Weight,0.103310,0.724469,1.000000,0.014911,0.009169,0.011552,0.014531,0.018063,0.040435,-0.515578,0.515578
Place of birth,-0.014724,-0.006657,0.014911,1.000000,0.013725,-0.007011,0.011744,0.009749,-0.050803,0.026806,-0.026806
Gold,-0.020383,0.020318,0.009169,0.013725,1.000000,0.243495,0.079595,0.682709,0.011434,0.001865,-0.001865
Silver,-0.006974,0.018645,0.011552,-0.007011,0.243495,1.000000,0.083384,0.667589,0.007274,0.008527,-0.008527
Bronze,-0.012178,0.007083,0.014531,0.011744,0.079595,0.083384,1.000000,0.602124,0.002490,0.008440,-0.008440
Total,-0.020397,0.023525,0.018063,0.009749,0.682709,0.667589,0.602124,1.000000,0.010861,0.009596,-0.009596
Sport,0.116798,0.073013,0.040435,-0.050803,0.011434,0.007274,0.002490,0.010861,1.000000,-0.015648,0.015648
Sex_F,-0.099207,-0.560025,-0.515578,0.026806,0.001865,0.008527,0.008440,0.009596,-0.015648,1.000000,-1.000000
Sex_M,0.099207,0.560025,0.515578,-0.026806,-0.001865,-0.008527,-0.008440,-0.009596,0.015648,-1.000000,1.000000

### The Naive Bayes algorithm
Naive Bayes models are a group of extremely fast and simple classification algorithms that are often suitable for very high-dimensional datasets- like ours. Because they are so fast and have so few tunable parameters, they end up being very useful as a quick-and-dirty baseline for a classification problem, thats why i chose the naive bayes models.

The Naive Bayes classifier aggregates information using conditional probability with an assumption of independence among features.
we want to check if we can predict who will win the olympic games by given physical value.

**we split the data into training and test sets**

In [4]:
X = df.iloc[:,1:].values
y = df['Total'].values

XTrain, XTest, yTrain, yTest = train_test_split(X, y, random_state=1, test_size=0.25)

In [5]:
# Instantiate the classifier
gnb = GaussianNB()


# Train classifier
gnb.fit(XTrain,yTrain)

y_pred = gnb.predict(XTest)
y_pred_train = gnb.predict(XTrain)

print('Accuracy on Train data= ', metrics.accuracy_score(y_true = yTrain, y_pred = y_pred_train))
print('Accuracy on test data= ', metrics.accuracy_score(y_true = yTest, y_pred = y_pred))

Accuracy on Train data=  1.0
Accuracy on test data=  0.9986235375086029

the result is: 1.0 - **Too good.**

##### we will try to fix it, so i made a new column that calculate the BMI indwx:

In [6]:
df["BMI"] = df["Weight"] /df["Height, cm"] * 100
df.corr()

,Age,"Height, cm",Weight,Place of birth,Gold,Silver,Bronze,Total,Sport,Sex_F,Sex_M,BMI
Age,1.000000,0.039305,0.103310,-0.014724,-0.020383,-0.006974,-0.012178,-0.020397,0.116798,-0.099207,0.099207,0.112475
"Height, cm",0.039305,1.000000,0.724469,-0.006657,0.020318,0.018645,0.007083,0.023525,0.073013,-0.560025,0.560025,0.563181
Weight,0.103310,0.724469,1.000000,0.014911,0.009169,0.011552,0.014531,0.018063,0.040435,-0.515578,0.515578,0.975972
Place of birth,-0.014724,-0.006657,0.014911,1.000000,0.013725,-0.007011,0.011744,0.009749,-0.050803,0.026806,-0.026806,0.021034
Gold,-0.020383,0.020318,0.009169,0.013725,1.000000,0.243495,0.079595,0.682709,0.011434,0.001865,-0.001865,0.005088
Silver,-0.006974,0.018645,0.011552,-0.007011,0.243495,1.000000,0.083384,0.667589,0.007274,0.008527,-0.008527,0.008492
Bronze,-0.012178,0.007083,0.014531,0.011744,0.079595,0.083384,1.000000,0.602124,0.002490,0.008440,-0.008440,0.015278
Total,-0.020397,0.023525,0.018063,0.009749,0.682709,0.667589,0.602124,1.000000,0.010861,0.009596,-0.009596,0.014806
Sport,0.116798,0.073013,0.040435,-0.050803,0.011434,0.007274,0.002490,0.010861,1.000000,-0.015648,0.015648,0.033678
Sex_F,-0.099207,-0.560025,-0.515578,0.026806,0.001865,0.008527,0.008440,0.009596,-0.015648,1.000000,-1.000000,-0.453587
Sex_M,0.099207,0.560025,0.515578,-0.026806,-0.001865,-0.008527,-0.008440,-0.009596,0.015648,-1.000000,1.000000,0.453587
BMI,0.112475,0.563181,0.975972,0.021034,0.005088,0.008492,0.015278,0.014806,0.033678,-0.453587,0.453587,1.000000

In [7]:
X = df.iloc[:,1:].values
y = df['Total'].values

XTrain, XTest, yTrain, yTest = train_test_split(X, y, random_state=1, test_size=0.25)

In [8]:
# Instantiate the classifier
gnb = GaussianNB()


# Train classifier
gnb.fit(XTrain,yTrain)

y_pred = gnb.predict(XTest)
y_pred_train = gnb.predict(XTrain)

print('Accuracy on Train data= ', metrics.accuracy_score(y_true = yTrain, y_pred = y_pred_train))
print('Accuracy on test data= ', metrics.accuracy_score(y_true = yTest, y_pred = y_pred))

Accuracy on Train data=  1.0
Accuracy on test data=  0.9986235375086029

#### after adding a column, we dont have a change, so we will drop columns and see if it gives us a better result:

In [9]:
X = df.drop(['Gold', 'Silver', 'Bronze', 'Total','Sex_F'], axis=1)
y = df['Total'].values

XTrain, XTest, yTrain, yTest = train_test_split(X, y, random_state=1, test_size=0.25)

In [10]:
# Instantiate the classifier
gnb = GaussianNB()


# Train classifier
gnb.fit(XTrain,yTrain)

y_pred = gnb.predict(XTest)
y_pred_train = gnb.predict(XTrain)

print('Accuracy on Train data= ', metrics.accuracy_score(y_true = yTrain, y_pred = y_pred_train))
print('Accuracy on test data= ', metrics.accuracy_score(y_true = yTest, y_pred = y_pred))

Accuracy on Train data=  0.8894241798577656
Accuracy on test data=  0.8905712319339298

## yes! we got a better result!

### The model's parameters

In order for the model to work and calculate the probabilities, it needs to store each of the class probabilities $P(c)$. In addition, it calculates for each feature the mean and variance for each class. We can get those values from the model